mixin slide(names, slideClasses)
  if names
    section(class=names + ' ' + slideClasses, data-bespoke-backdrop='backdrop ' + names.split(' ').map(function (name) {
      return 'backdrop--' + name;
    }).join(' '))
      block
  else
    section
      block

doctype html
html
  head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  title kintone devCamp Vol.1

  link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    article
      +slide('orion')
        h1 kintone hive

      +slide('orion')
        h1 自己紹介
      +slide
        h2 名前
        h3 落合 雄一
        h3
        h2 所属
        h3 サイボウズスタートアップス株式会社
      +slide
        h2 役職
        h3 取締役 最高技術責任者
        h3 kintoneエバンジェリスト

      +slide('orion')
        h2 早速ですが
        h2 どんなアプリ作りましたか？
      +slide
        h3 案件管理アプリ
        h3 作業報告アプリ
        h3 ・・・

      +slide('orion')
        h1 契約管理アプリ

      +slide('orion')
        h1 本日のLT
      +slide
        h1 kintoneでの契約管理事例
        h3 弊社での取り組みを紹介します
      +slide
        h3 kintoneにおける契約アプリの必須項目
      +slide
        h3 顧客マスターアプリからのルックアップ
        h3 製品マスターアプリからのルックアップ

      +slide
        h2
          a(href='https://cstap.cybozu.com/k/393/show#record=509', target='_blank') 契約管理アプリ

      +slide
        h3 契約管理ができると
        h3 次は帳票出力したくなりませんか？
      +slide
        h3
          a(href='https://pc.kintoneapp.com/', target='_blank') プリントクリエイター
      +slide
        h3 次は契約情報を使って
        h3 メールを送りたくなりませんか？
      +slide
        h3
          a(href='https://mailwise.cybozu.com/', target='_blank') メールワイズ

      +slide
        h3 契約情報という大切なデータ
        h3 バックアップしたくなりませんか？

      +slide
        h3
          a(href='https://kb.kintoneapp.com/', target='_blank') kBackup

      +slide
        h3 これぐらいのアプリであれば
        h3 開発なしで作れます

      +slide('orion')
        h3 皆さんもkintoneで契約管理やってみませんか？

      +slide('orion')
          h3 ご清聴ありがとうございました！！

    script(src='build/build.js')
